html, body, #app{
    font-weight: 400;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    color: #22211F;
    overflow-x: hidden;
    font-family: 'Questrial', sans-serif;
  }
  
  #app {
    font-weight: normal;
    background-color: white!important;
  }

  .swiper-pagination-bullet-active{
    background: white!important;
  }
  
  @media (min-width: 1024px) {
  
    body {
      display: flex;
      place-items: center;
    }
  }
  
 h2,h3,h4,h5,h6{
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
  }

  h1{
    font-weight: normal;
    font-family: 'Kalam';
    font-size: 27pt;
    letter-spacing: 0px;
    position: relative;
    margin-bottom: 15px;
    color:#22211F;
    word-spacing: -4pt;
  }
  h1::after {
    position: absolute;
    content: '';
    bottom: -7px;
    height: 4px;
    background-color: #F39E6A;
    left: 0;
    right: 0px;
  }

  .bg-light{
    background-color:white!important;
  }

  .bg-secondary{
    background-color: white!important;
  }

  .btn-primary {
    padding: 10px;
    letter-spacing: 1px;
    color: white;
    background-color: #F39E6A;
    border-color: #F39E6A;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #d48b5e;
    border-color: #d48b5e;
  }

  .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #9b6645!important;
    border-color: #9b6645!important;
  }
  

  .btn-delete{
    color: #fff;
    background-color: #D89494;
    border-color: #D89494;
  }

  .btn-delete:hover {
    color: #fff;
    background-color: #916363;
    border-color: #916363;
  }

  .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #515d62;
    border-color: #515d62;
  }

  .form-control:focus {
    color: #4c778d;
    background-color: #fff;
    border-color: #F39E6A;
    outline: 0;
    box-shadow: 0 0 0 .1rem rgba(152, 174, 185, 25%);
  }

  .p-nav{
    padding-top: 112px;
  }

  .text-uppercase{
    letter-spacing: 1px;
  }

  label{
    margin: 0;
  }

  .formkit-outer .formkit-icon.formkit-prefix-icon {
    border-radius: var(--fk-border-radius-tl) 0 0 var(--fk-border-radius-bl);
    background: transparent!important;
    box-shadow: 1px 0 0 0 rgba(0,0,0,0.33);
  }

  [data-type="select"]:not([data-multiple]) .formkit-inner::after {
    background-color: transparent!important;
  }
  
  [data-type="textarea"] .formkit-inner::after {
    content:none!important;
  }
  
  .imagePreview{
      min-height: 120px;
      width: 150px;
  }
  
  .missingPhoto{
      opacity: 25%;
  }
  
  .text-red{
      color: rgb(245, 150, 62);
      font-weight: bold;
  }

  .swiper-button-prev, .swiper-button-next {
    color:white;
  }

  .vue-magnifier__magnifier-image{
      cursor:crosshair!important;
  }

  [data-type="submit"] .formkit-input {
    padding: 10px;
    letter-spacing: 1px;
    font-size: 16px!important;
    background-color: #F39E6A!important;
    border-color: #F39E6A!important;
    font-size: inherit;
    font-weight: bold;
    font-family: "Questrial", sans-serif;
  }

  [data-type="submit"] .formkit-input:hover {
    background-color: #d48b5e!important;
    border-color: #d48b5e!important;
  }